# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!run

**/.vscode/**
**/.cache/**
**/.idea/**
**/.vim/**

**/conan/**
**/build/**
**/bin/**
**/.arti.template*

**/output.txt/**

[Ss]olutions.md
