# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!run

.arti/**.cache**

**/.vscode/**
**/.cache/**
**/.idea/**
**/.vim/**

**/build/**
**/bin/**
**/.arti.template*

contests-data/**

**/output.txt/**

[Ss]olutions.md
